@import url('https://fonts.googleapis.com/css?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

.header {
    width: 100%;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.main {
    margin: 0 auto;
    width: 100%;
}

.nav-list {
    width: 487px;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    list-style: none;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-link {
    text-decoration: none;
    color: rgb(149, 225, 211);
    font-size: 14px;
}

.nav-link:hover {
    color: rgb(243, 129, 129);
    text-decoration: underline;
}

.logo {
    width: 85px;
}

.font {
    font-size: 26px;
    margin-bottom: 0;
    font-family: 'Parisienne', cursive;
}

.part {
    margin-top: 0;
    margin-bottom: 0;
}

.title {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 67px;
    padding: 0;
}

.line {
    width: 60px;
    height: 2px;
    background-color: rgb(243, 129, 129);
    border: none;
    margin-top: 30px;
}

.container-services1 {
    margin-top: 65px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container-services2 {
    width: 100%;
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
}

.information-services {
    width: calc(100% / 3 - 40px);
    display: flex;
    justify-content: space-between;
}

.img-services {
    width: 33px;
    height: 33px;
    margin-right: 10px;
}

.micro-title {
    margin: 0;
    text-transform: uppercase;
    width: fit-content;
    margin-right: 0;
}

.info-text {
    color: rgb(179, 179, 179);
    width: fit-content;
    margin-right: 0;
}

.second-textblock {
    padding-bottom: 0px;
    color: rgb(179, 179, 179);
    text-align: center;
    margin-bottom: 90px;
}

.name {
    text-transform: uppercase;
    text-align: center;
}

.about {
    font-style: italic;
    color: rgb(179, 179, 179);
    text-align: center;
}

.line-footer {
    background-color: rgb(229, 229, 229);
    width: 100%;
    height: 1px;
    margin: 0 auto;
    border: none;
}

.footer {
    margin-top: 85px;
}

.input {
    font-size: 14px;
    border: 0px solid #ccc;
    border-radius: 4px 0px 0px 4px;
    width: 65%;
    display: inline-block;
    height: 34px
}

.sub {
    background: #95e1d3;
    border: 0px solid #95e1d3;
    color: #fff;
    padding: 5px 10px;
    margin-left: -4px;
    border-radius: 0px 4px 4px 0px;
    height: 34px;
    outline: none;
    font-size: 13px;
    line-height: 23px;
    width: 35%;
}

.input-sub {
    height: 47px;
    display: flex;
    justify-content: flex-end;
    width: 48%;
}

.input {
    width: 70%;
}

.footer-container {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-info::after {
    content: "Laqqiq";
    color: rgb(243, 129, 129);
    margin-left: 5px;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.card {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    height: 100%;
}

.image {
    width: 100%;
    height: 100%;
}

.card:hover .card-content {
    top: -10px;
    left: -10px;
}

.card-content {
    object-fit: cover;
    max-width: 100%;
    position: relative;
    top: 0;
    left: 0;
    transition: 0.3s ease-in-out;
    width: 100%;
    height: 100%;
}

.card-content {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-content>.wrapper:after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #FEE140;
    background-image: linear-gradient(0deg, #FEE140 0%, #FA709A 100%);
    opacity: 0;
}

.card-content:hover>.wrapper:after {
    opacity: 0.7;
}

.card-content>.wrapper .list {
    list-style: none;
    display: flex;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.card-content:hover>.wrapper .list {
    opacity: 1;
    position: relative;
    z-index: 2;
}

.card-content>.wrapper .list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1px;
    margin-left: 0;
    transition: 0.3s ease-in-out;
}

.list-item {
    width: calc(100% / 4 - 1px);
}

.list {
    padding-left: 7px;
    padding-right: 7px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.card-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #95e1d3;
    z-index: -1;
    width: 100%;
}

.whole-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 3 - 10px);
}

.card-content>.wrapper .list-item {
    background-color: #fce38a;
}

.card-content>.wrapper .list-item:hover,
 :focus {
    background-color: #95e1d3;
}

@media (max-width: 768px) {
    .container-services1 {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }
    .container-services2 {
        flex-direction: column;
        align-items: center;
        padding-right: 100px;
        margin-top: 0;
    }
    .container-services {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }
    .information-services {
        margin-top: 30px;
    }
    .title {
        margin-top: 30px;
        margin-bottom: 17px;
    }
    .whole-card {
        width: calc(100% / 2 - 15px);
    }
    .alone {
        margin: 0 auto;
        margin-top: 5px;
    }
    .second-textblock {
        margin-bottom: 25px;
    }
    .footer {
        margin-top: 17px;
    }
}

@media (max-width: 576px) {
    .nav-list {
        width: 100%;
        flex-direction: column;
    }
    .nav-item {
        margin-top: 10px;
    }
    .header {
        flex-direction: column-reverse;
        padding-top: 10px;
        align-items: center;
    }
    .logo {
        margin-bottom: 15px;
    }
    .container-services {
        flex-direction: column;
    }
    .information-services {
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
        flex-direction: column;
        align-items: center;
    }
    .container-services2 {
        padding: unset;
    }
    .info-services {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .info-text {
        text-align: center;
    }
    .cards {
        justify-content: center;
    }
    .whole-card {
        width: 100%;
        margin-top: 17px;
    }
    .img-services {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .about-card {
        margin-top: 10px;
    }
    .input-sub {
        flex-direction: column;
    }
    .sub {
        width: 100%;
    }
    .card-content>.wrapper .list-item:focus {
        background-color: #95e1d3;
    }
}